
  html,body{
   height: 100%;
 }

 .wropper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
 }

 .content{
   flex: 1 0 auto;
 }

 .header{
    background-color: #545454;
    height: 200px;
 }

.section{
   background-color: green;
   height: 100px;
}
.footer{
    background-color: blue;
    height: 200px;
    flex: 0 0 auto;
 }

