html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.header {
    background-color: blue;
    height: 100px;
}

.section {
    background-color: blue;
    height: 300px;

}

.footer {
    background-color: rgb(128, 126, 0);
    height: 200px;
    flex: 0 0 auto;
}